
:root {
    --color-shade-100: #fff;
    --color-shade-200: #f8f8f8;
    --color-shade-500: #c6c6c6;
    --color-shade-800: #333;
    --color-shade-900: #000;
    --color-green-700: #014a2b;
    --color-red-700: #880d27;
    --font-sans: 'atten new', sans-serif;
    --font-serif: 'Libre Caslon Text', serif;
    --text-supporting: .875rem;
    --text-paragraph: 1rem;
    --height-header: 3.75rem;
    --space-a: .3125rem;
    --space-b: .625rem;
    --space-c: 1.25rem;
    --space-d: 1.875rem;
    --radius-circle: 50%;
    --radius-pill: 9999px;
    --radius-tapbox: 2px;
    --size-icon: 2.5rem;
    --tile-overlay-hover: rgba(255, 255, 255, .07);
    --tile-overlay-active: rgba(0, 0, 0, .15);
    --timing-hues: .15s
}
@font-face{font-family:atten new;font-style:normal;font-weight:400;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewRegular.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:400;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewRegularItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:300;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBook.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:300;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBookItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:500;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewMedium.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:500;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewMediumItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:700;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBold.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:700;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBoldItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:800;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewExtraBold.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:800;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewExtraBoldItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:400;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewRegular.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:400;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewRegularItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:300;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBook.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:300;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBookItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:500;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewMedium.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:500;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewMediumItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:700;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBold.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:700;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBoldItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:800;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewExtraBold.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:800;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewExtraBoldItalic.woff) format('woff')}


@font-face {
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Caslon Text'), url('https://fonts.cdnfonts.com/s/15804/LibreCaslonText-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Libre Caslon Text';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Caslon Text'), url('https://fonts.cdnfonts.com/s/15804/LibreCaslonText-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Caslon Text'), url('https://fonts.cdnfonts.com/s/15804/LibreCaslonText-Bold.woff') format('woff');
}




.form dd.error:before {
content:'!';
border-radius: 50%;
    font-size: 20px;
    height: 20px;
    width:20px;
    border: 2px solid red;
    text-align: center;
    color: #F5CCCC;
    background-color: red;
    display: inline-block;
   margin:5px;

  }

.form dd.error {
    color: black;
    font-size: .6875rem;
    font-weight: 700;
    margin: 5px 0;
    background-color: #F5CCCC !important;
}
.widget .container {
  padding: 60px 70px 60px 70px !important;
  background: url(https://dev-apps.sites-beamsuntory.com/dtc-pwa-studio-laph/480/url-modal-bg-wNq.jpg) no-repeat right top #fff;
  background-size: auto 100%;
}
.widget .header h1,.widget .header h3 {
    margin: 0;
    font-size: 1.5rem;
    font-family: var(--font-sans);
    font-weight: 800;
  line-height: 130%;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    color: #154734 !important;
    padding: 24px 0 0 0;
    display: block;
    text-align: center;
}


#code-redemption-v2 p.description {
     color: #4e4b48;
     font-family: var(--font-serif);
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    text-transform: none;
    letter-spacing: 0.01em;
    text-align: center;
    margin-bottom: 16px;
}

   .widget .header {
    display: block;
     background-color: #4a90e2;
     width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0px !important;
    border-bottom: none;
}



#dynamic-form .submit-container {
    float: right;
    width: 100% !important;
    display: inline-block !important;
}

#dynamic-form .submit-container button
{
  display: inline-block !important;
  width: 100% !important;
  font-family: var(--font-sans);
  font-weight: 800;
  font-size: 14px;
  min-height: 50px;
  }


.form dd input[type=text] {
    width: 100%;
    min-height: 56px;
    padding: 10px;
    border: 1px solid #cfcfcf;
    background: transparent;
    box-shadow: none;
    outline: none;
    text-align: center;
    margin-bottom: 20px;
    color: #154734;
    text-transform: uppercase;
    letter-spacing: 0.01em;
    font-family: font-family: var(--font-sans);;
    font-weight: 800;
    font-size: 1.2rem;
    line-height: 110%;

}

#dynamic-form label
{

    display: block;
    font-size: .8125rem;
    font-weight: 700;
    font-family: var(--font-sans);
    font-weight: 800;
    font-size: 18px;
    line-height: 110%;
    color: #000;
}



@media (max-width: 480px) 
{  .widget .container {
  padding: 60px 32px 60px 32px !important;
  background: url(
https://dev-apps.sites-beamsuntory.com/dtc-pwa-studio-laph/480/url-modal-bg-wNq.jpg)
no-repeat right top #fff;
  background-size: Auto 80%;
background-position:center
}
}
