.form dd.error:before {
content:'!';
border-radius: 50%;
    font-size: 20px;
    height: 20px;
    width:20px;
    border: 2px solid red;
    text-align: center;
    color: #F5CCCC;
    background-color: red;
    display: inline-block;
   margin:5px;
   
  }

.form dd.error {
    color: black;
    font-size: .6875rem;
    font-weight: 700;
    margin: 5px 0;
    background-color: #F5CCCC !important;
}
