
.widget .header h1,.widget .header h3 {
    margin: 3px 0 3px 3px;
    font-size: .875rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    background-color: blue !important
}
.widget .header {
    display: none !important;
    padding: 5px;
    background-color: #4a90e2;
    border-bottom: 1px solid #000;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}
.widget .container {
    padding: 60px 10px 10px 10px;
    text-align: center !important;
}

#quiz-v2 .error:before {
content:'!';
border-radius: 50%;
    height: 20px;
    width:10px;
    border: 2px solid red;
    text-align: center;
    color: red;
    background-color:#F5CCCC;
    display: inline-block;
  }

#quiz-v2 .error {
    color: #a20114;
    font-size: .6875rem;
    font-weight: 700;
    margin: 5px 0;
    background-color: #F5CCCC !important;
}



