
@font-face{font-family:atten new;font-style:normal;font-weight:400;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewRegular.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:400;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewRegularItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:300;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBook.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:300;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBookItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:500;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewMedium.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:500;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewMediumItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:700;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBold.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:700;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewBoldItalic.woff) format('woff')}@font-face{font-family:atten new;font-style:normal;font-weight:800;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewExtraBold.woff) format('woff')}@font-face{font-family:atten new;font-style:italic;font-weight:800;src:local('Atten New'),url(https://fonts.cdnfonts.com/s/36923/AttenNewExtraBoldItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:400;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewRegular.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:400;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewRegularItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:300;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBook.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:300;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBookItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:500;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewMedium.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:500;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewMediumItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:700;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBold.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:700;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewBoldItalic.woff) format('woff')}@font-face{font-family:atten round new;font-style:normal;font-weight:800;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewExtraBold.woff) format('woff')}@font-face{font-family:atten round new;font-style:italic;font-weight:800;src:local('Atten Round New'),url(https://fonts.cdnfonts.com/s/36923/AttenRoundNewExtraBoldItalic.woff) format('woff')}


@font-face {
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 400;
    src: local('Libre Caslon Text'), url('https://fonts.cdnfonts.com/s/15804/LibreCaslonText-Regular.woff') format('woff');
}
@font-face {
    font-family: 'Libre Caslon Text';
    font-style: italic;
    font-weight: 400;
    src: local('Libre Caslon Text'), url('https://fonts.cdnfonts.com/s/15804/LibreCaslonText-Italic.woff') format('woff');
}
@font-face {
    font-family: 'Libre Caslon Text';
    font-style: normal;
    font-weight: 700;
    src: local('Libre Caslon Text'), url('https://fonts.cdnfonts.com/s/15804/LibreCaslonText-Bold.woff') format('woff');
}


.widget .header h1,.widget .header h3 {
    margin: 3px 0 3px 3px;
    font-size: .875rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    display:none !important;
}
.widget .header {
    display: none !important;
    padding: 5px;
    background-color: #4a90e2;
    border-bottom: 1px solid #000;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}


#quiz-v2 .error:before {
content:'!';
border-radius: 50%;
    font-size: 20px;
    height: 20px;
    width:20px;
    border: 2px solid red;
    text-align: center;
    color: #F5CCCC;
    background-color: red;
    display: inline-block;
   margin:5px;
   
  }

#quiz-v2 .error {
    color: #a20114;
    font-size: .6875rem;
    font-weight: 700;
    margin: 5px 0;
    background-color: #F5CCCC !important;
}

#poll-v2 .submit-container { 
    display: contents !important;
}

#poll-v2 .submit-container .points {
    display:none;
    margin: 0 20px;
    vertical-align: middle;
}

.widget .header {
    display: block;
    padding: 5px;
    background-color: #4a90e2;
    border-bottom: 1px solid #000;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display:none;
}

#poll-v2 .submit-container button {
    display: inline-block;
    background-color: #154734;
    color: rgb(255, 255, 255);
    border-color: #154734;
}


#quiz-v2 .answer-options input[type="checkbox"]:checked + label::after {
   content: '';
   display:flex;
   align-items:center;
   position: absolute;
   width: 0.9em;
   height: 0.3em;
   background: rgba(0, 0, 0, 0);
   top: 40%;
   left: 9px;
   border: 3px solid white;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

#quiz-v2 .answer-options input[type="checkbox"] {
   line-height: 2.1ex;
}


#quiz-v2 .answer-options input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

#quiz-v2 .answer-options input[type="checkbox"] + label {
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
}

#quiz-v2 .answer-options input[type="checkbox"] + label::before {
   content: "";
   display: inline-flex;
    text-align: center;
   vertical-align: -25%;
   height: 1.5em;
   width: 1.5em;
   background-color: #154734;
   border: 1px solid rgb(166, 166, 166);
   border-radius: 0px;   
   margin-right: 0.5em;
}

#quiz-v2 .question-container .image-wrapper {
    /* display: inline-flex; */
     display: inline-block;
    vertical-align: middle;
    margin: 0 10px 0 5px;
    height: 150px;
    width: 150px;
}


#quiz-v2 .points-header .points {
    font-weight: 700;
    display:none;
}

#quiz-v2 .progress__filled {
    background: #154734;
    border-radius: 999px;
    height: 100%;
    min-width: 8px;
    transition: width .15s ease-out;
}

#quiz-v2 .answer-options input[type="radio"]:checked + label::after {
   content: '';
   position: absolute;
   width: 6px;
   height: 6px;
   background: rgba(0, 0, 0, 0);
   top: 1.1ex;
   left: 1.9ex;
   background-color:white;
   border-radius:50%;
   display:flex;
   align-items:center;
  
}

#quiz-v2 .answer-options input[type="radio"] {
   line-height: 2.1ex;
}


#quiz-v2 .answer-options input[type="radio"] {
    position: absolute;
    left: -999em;
}

#quiz-v2 .answer-options input[type="radio"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#quiz-v2 .answer-options input[type="radio"] + label::before {
   content: "";
   display: inline-flex;
    text-align: center;
   vertical-align: -25%;
   height: 1.5em;
   width: 1.5em;
   background-color: #154734;
   border: 1px solid rgb(166, 166, 166);
   border-radius: 50%;
   box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
   margin-right: 0.5em;
}


#survey-v3 .answer-options input[type="radio"]:checked + span::after {
   content: '';
   position: absolute;
   width: 7px;
   height: 7px;
   background: rgba(0, 0, 0, 0);
   top: 0.5ex;
   left: 1.0ex;
   background-color:#154537;
   border-radius:50%;
   display:flex;
   align-items:center;
  
}

#survey-v3 .answer-options input[type="radio"] {
   line-height: 2.1ex;
}


#survey-v3 .answer-options input[type="radio"] {
    position: absolute;
    left: -999em;
}

#survey-v3 .answer-options input[type="radio"] + span {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#survey-v3 .answer-options input[type="radio"] + span::before {
   content: "";
   display: inline-flex;
    text-align: center;
   vertical-align: -25%;
   height: 1.5em;
   width: 1.5em;
  background-color: #fff;
   border: 1px solid rgb(166, 166, 166);
   border-radius: 50%;
   box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
   margin-right: 0.5em;
}



#survey-v3 .answer-options input[type="checkbox"]:checked::after {
   content: '';
   display:flex;
   align-items:center;
   position: absolute;
   width: 0.9em;
   height: 0.3em;
   background: rgba(0, 0, 0, 0);
   top: 29%;
   left: 5px;
   border: 2px solid #154537;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

#survey-v3 .answer-options input[type="checkbox"] {
   line-height: 2.1ex;
}


#survey-v3 .answer-options input[type="checkbox"] {
     position: absolute; 
  /*  left: -999em; */
}

#survey-v3 .answer-options input[type="checkbox"] {
    position: relative;
    /* overflow: hidden; */
    cursor: pointer;
}

#survey-v3 .answer-options input[type="checkbox"]::before {
   content: "";
   display: inline-flex;
    text-align: center;
   vertical-align: -25%;
   height: 1.5em;
   width: 1.5em;
background-color: white;;
   border: 1px solid rgb(166, 166, 166);
   border-radius: 0px;   
   margin-right: 0.5em;
}

#survey-v3 .error:before {
content:'!';
border-radius: 50%;
    font-size: 20px;
    height: 20px;
    width:20px;
    border: 2px solid red;
    text-align: center;
    color: #F5CCCC;
    background-color: red;
    display: inline-block;
   margin:5px;
   
  }

#survey-v3 .error {
    color: #a20114;
    font-size: .6875rem;
    font-weight: 700;
    margin: 5px 0;
    background-color: #F5CCCC !important;
}


#quiz-v2 .progress {
    background: #efefef;
    border-radius: 999px;
    height: 8px;
    margin: 0 20px;
    display: none !important;
}
#quiz-v2 .buttons {
    align-items: center;
    display: flex;
    margin-top: 30px;
    float: right !important;
}


.ct-series-d .ct-bar, .ct-series-d .ct-line, .ct-series-d .ct-point, .ct-series-d .ct-slice-donut {
    stroke: #154734 !important;
}


.ct-series-c .ct-bar, .ct-series-c .ct-line, .ct-series-c .ct-point, .ct-series-c .ct-slice-donut {
    stroke: #154734 !important;
}




.widget .header {
    display: block;
    padding: 5px;
    background-color: #4a90e2;
    border-bottom: 1px solid #000;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none !important;
}



.widget .header h1, .widget .header h3 {
    margin: 3px 0 3px 3px;
    font-size: .875rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    display: none !important;
}

.widget .container {
    padding: 0px 10px 10px 10px !important;
}

#poll-v2 .question-type-radio label.answer-option-wrapper input[type="radio"]:checked + span::after {
   content: '';
   position: absolute;
   width: 6px;
   height: 6px;
   background: rgba(0, 0, 0, 0);
   top: 0.5ex;
   left: 1.1ex;
   background-color:#154537;
   border-radius:50%;
   display:flex;
   align-items:center;
  
}

#poll-v2 .question-type-radio label.answer-option-wrapper input[type="radio"] {
   line-height: 2.1ex;
}


#poll-v2 .question-type-radio label.answer-option-wrapper input[type="radio"] {
    position: absolute;
    left: -999em;
}

#poll-v2 .question-type-radio label.answer-option-wrapper input[type="radio"] + span {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#poll-v2 .question-type-radio label.answer-option-wrapper input[type="radio"] + span::before {
   content: "";
   display: inline-flex;
    text-align: center;
   vertical-align: -25%;
   height: 1.5em;
   width: 1.5em;
    background-color: #fff;
   border: 1px solid rgb(166, 166, 166);
   border-radius: 50%;
   box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
   margin-right: 0.5em;
}


#quiz-v2 .buttons__left, #quiz-v2 .buttons__right {
    display: flex;
    margin: 0 0 0 8px;
    border-color: #154537;
    border: 2px solid #154537;
    background: white;
    /* color: #154537; */
}


.btn:disabled, a.btn:disabled {
    opacity: 1;
    cursor: default;
}


@media only screen and (max-width: 767px) {
                #poll-v2 .submit-container button {
    display: inline-block;
    width: 100%;
    background-color: #154734;
    color: rgb(255, 255, 255);
    border-color: #154734;
}
            }
