
.widget .header h1,.widget .header h3 {
    margin: 3px 0 3px 3px;
    font-size: .875rem;
    line-height: 15px;
    text-transform: uppercase;
    color: #fff;
    padding: 5px;
    display:none !important;
}
.widget .header {
    display: none !important;
    padding: 5px;
    background-color: #4a90e2;
    border-bottom: 1px solid #000;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000
}


#quiz-v2 .error:before {
content:'!';
border-radius: 100%;
    font-size: 20px;
    height: 20px;
    width:10px;
    border: 2px solid red;
    text-align: center;
    color: #F5CCCC;
    background-color: red;
    display: inline-block;
  }

#quiz-v2 .error {
    color: #a20114;
    font-size: .6875rem;
    font-weight: 700;
    margin: 5px 0;
    background-color: #F5CCCC !important;
}

#poll-v2 .submit-container { 
    display: contents !important;
}

#poll-v2 .submit-container .points {
    display:none;
    margin: 0 20px;
    vertical-align: middle;
}

.widget .header {
    display: block;
    padding: 5px;
    background-color: #4a90e2;
    border-bottom: 1px solid #000;
    width: 100%;
    -webkit-transform: translate3d(0,0,0);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display:none;
}

#poll-v2 .submit-container button {
    display: inline-block;
    background-color: #154734;
    color: rgb(255, 255, 255);
    border-color: #154734;
}


#quiz-v2 .answer-options input[type="checkbox"]:checked + label::after {
   content: '';
   position: absolute;
   width: 1.2ex;
   height: 0.4ex;
   background: rgba(0, 0, 0, 0);
   top: 0.9ex;
   left: 0.9ex;
   border: 3px solid White;
   border-top: none;
   border-right: none;
   -webkit-transform: rotate(-45deg);
   -moz-transform: rotate(-45deg);
   -o-transform: rotate(-45deg);
   -ms-transform: rotate(-45deg);
   transform: rotate(-45deg);
}

#quiz-v2 .answer-options input[type="checkbox"] {
   line-height: 2.1ex;
}


#quiz-v2 .answer-options input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

#quiz-v2 .answer-options input[type="checkbox"] + label {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#quiz-v2 .answer-options input[type="checkbox"] + label::before {
   content: "";
   display: inline-block;
   vertical-align: -25%;
   height: 2ex;
   width: 2ex;
   background-color: #154734;
   border: 1px solid rgb(166, 166, 166);
   border-radius: 4px;
   box-shadow: inset 0 2px 5px rgba(0,0,0,0.25);
   margin-right: 0.5em;
}


#quiz-v2 .question-container .image-wrapper {
    /* display: inline-flex; */
    vertical-align: middle;
    margin: 0 10px 0 5px;
    height: 150px;
    width: 150px;
}

